.image {
  width: 300px;
}

.first-half {
  max-width: 380px;
  max-height: 248px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.description {
  max-width: 474px;
  max-height: 248px;
}
// Container
.hero-section-primary {
  --border-width: 0.2em;
  --edge-size: 3.5em;

  float: right;
  position: relative;
  isolation: isolate;

  padding: 0.5em 4em;
  display: flex;
  align-items: center;
  gap: 30px;
  clip-path: polygon(
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    0 100%,
    0% var(--edge-size)
  );

  height: 350px;
  width: 933px;
}

.hero-section-primary::before,
.hero-section-primary::after {
  content: "";
  position: absolute;
  inset: 0;
}

.hero-section-primary::before {
  background: var(--color-border);
  z-index: -2;
}

.hero-section-primary::after {
  background: var(--color-bg);
  z-index: -1;

  clip-path: polygon(
    var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
    calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(var(--border-width)) calc(100% - var(--border-width))
  );
}


