<div class="hero-wrapper">
  <div>
    <img src="/images/placeholder.jpg" class="hero-image" />
  </div>
  <div class="hero-text-wrapper">
    <app-typography font="heading" [size]="10" customClass="about-me-styles">
      ABOUT ME</app-typography
    >
    <app-typography font="vt323" [size]="8">
      Hi, I'm
      <app-typography font="vt323" [size]="8" customClass="name">
        Bernáth Márk Bence
      </app-typography>
    </app-typography>
    <app-typography font="mono" [size]="6" customClass="job-title-styles">
      FULLSTACK DEVELOPER
    </app-typography>

    <app-typography font="mono" [size]="4" class="description">
      I'm a fullstack developer with 3 years of experience building web
      applications at Deutsche Telekom and beyond. I specialize in frontend
      technologies like Angular, React, and Svelte, but I enjoy working across
      the stack. Outside of my day job, I co-founded Code_Craftsmen, a small
      team delivering custom-built software solutions.</app-typography
    >
  </div>
</div>
