.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  align-self: flex-end;
}

.education-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
