:host {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-title {
  align-self: flex-end;
}
