.font-heading {
  font-family: var(--font-heading);
}

.font-serif {
  font-family: var(--font-serif);
}

.font-body {
  font-family: var(--font-body);
}

.font-mono {
  font-family: var(--font-mono);
}

.font-vt323 {
  font-family: var(--font-vt323);
}

.size-1 {
  font-size: 0.75rem;
}
.size-2 {
  font-size: 0.875rem;
}
.size-3 {
  font-size: 1rem;
}
.size-4 {
  font-size: 1.125rem;
}
.size-5 {
  font-size: 1.25rem;
}
.size-6 {
  font-size: 1.5rem;
}
.size-7 {
  font-size: 1.75rem;
}
.size-8 {
  font-size: 2rem;
}
.size-9 {
  font-size: 3rem;
}
.size-10 {
  font-size: 4rem;
}

.thin {
  font-weight: 100;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

.primary {
  color: var(--color-text-primary);
}
.secondary {
  color: var(--color-text-secondary);
}
.accent {
  color: var(--color-text-accent);
}

.fancyFont {
  transition: all 0.5s;
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}

.fancyFont:hover {
  transition: all 0.5s;
  -webkit-text-stroke: 4px var(--color-text-primary);
  color: transparent;
  text-shadow: 5px 5px 0px var(--color-text-accent),
    10px 10px 0px var(--color-text-secondary), 15px 15px 0px #f1ee4b,
    20px 20px 0px #5eff36,
}
