:host {
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-items: center;
}

.icon-wrapper {
  width: min-content;
  height: min-content;
  transition: all 0.4s;
}

.expert.hovered {
  filter: drop-shadow(0 0 10px var(--color-error))
    drop-shadow(0 0 20px var(--color-error));
}

.high.hovered {
  filter: drop-shadow(0 0 10px var(--color-warning))
    drop-shadow(0 0 20px var(--color-warning));
}

.medium.hovered {
  filter: drop-shadow(0 0 10px var(--color-success))
    drop-shadow(0 0 20px var(--color-success));
}

.expert:hover {
  filter: drop-shadow(0 0 10px var(--color-error))
    drop-shadow(0 0 20px var(--color-error));
}

.high:hover {
  filter: drop-shadow(0 0 10px var(--color-warning))
    drop-shadow(0 0 20px var(--color-warning));
}

.medium:hover {
  filter: drop-shadow(0 0 10px var(--color-success))
    drop-shadow(0 0 20px var(--color-success));
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  --input-bg-color: #0a0a0a;
  --border-width: 0.25em;
  --edge-size: 1em;

  font-style: var(--font-mono);
  font-size: 24px;
  isolation: isolate;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem;

  clip-path: polygon(
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    0 100%,
    0% var(--edge-size)
  );

  height: auto;
  width: auto;
}

.tooltip-wrapper::before,
.tooltip-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
}

.tooltip-wrapper::before {
  background: linear-gradient(
    to bottom,
    var(--color-error) 0%,
    var(--color-warning) 50%,
    var(--color-success) 100%
  );
  z-index: -2;
}

.tooltip-wrapper::after {
  background: var(--input-bg-color);
  z-index: -1;

  clip-path: polygon(
    var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
    calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(var(--border-width)) calc(100% - var(--border-width))
  );
}

.base-tooltip {
  transition: all 0.3s;
  font-size: smaller;
  width: 100px;
  padding: 6px;
  text-align: center;
  border-radius: 6px;
  color: var(--p-10);
  cursor: pointer;
}

.expert-tooltip {
  transition: 0.5s all;
}
.expert-tooltip:hover {
  filter: drop-shadow(0 0 10px var(--color-error));
}

.high-tooltip {
  transition: 0.5s all;
}
.high-tooltip:hover {
  filter: drop-shadow(0 0 10px var(--color-warning));
}

.medium-tooltip {
  transition: 0.5s all;
  color: var(--p-900);
}
.medium-tooltip:hover {
  filter: drop-shadow(0 0 10px var(--color-success));
}
