header {
  margin: auto;
  position: relative;
  isolation: isolate;

  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-width: 1620px;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - var(--slant-inset)) 100%,
    var(--slant-inset) 100%
  );

  margin-bottom: 2rem;
}

header::before,
header::after {
  content: "";
  position: absolute;
  inset: 0;
}

header::before {
  z-index: -2;
}

header::after {
  background: var(--color-bg-secondary);
  z-index: -1;

  --slant-inset: 6rem;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - var(--slant-inset)) 100%,
    var(--slant-inset) 100%
  );
}

.nav-firsthalf {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

app-button:hover {
  text-shadow: 4px 4px 2px var(--color-primary-hover);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 150px 0 150px;
  width: 100%;
}
