header {
  --border-width: 0.25em;

  margin: auto;
  position: relative; /* Key property as mentioned */
  isolation: isolate; /* For z-index scoping */

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 60px;

  clip-path: polygon(
    50% 0%,
    100% 0%,
    101% -9%,
    92.5% 100%,
    7.5% 100%,
    -0.5% -2%,
    0 0
  );

  margin-bottom: 2rem;
}

header::before,
header::after {
  content: "";
  position: absolute;
  inset: 0;
}

header::before {
  background: var(--color-text-primary);
  z-index: -2;
}

header::after {
  background: var(--color-bg-secondary);
  z-index: -1;

  clip-path: polygon(
    calc(50% + var(--border-width) * 0.5) var(--border-width),
    calc(99.5% - var(--border-width)) var(--border-width),
    calc(92.5% - var(--border-width) * 0.5) calc(100% - var(--border-width)),
    calc(7.5% + var(--border-width) * 0.5) calc(100% - var(--border-width)),
    calc(0.5% + var(--border-width)) var(--border-width)
  );
}

.nav-firsthalf {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

app-button:hover {
  text-shadow: 4px 4px 2px var(--color-primary-hover);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 120px;
}
